@import url("../lib/reset.css");
html,
body {
  width: 100%;
  height: 100%;
  background: none;
}
/*头部*/
.header {
  width: 100%;
  height: 48px;
  position: relative;
  left: 0;
  top: 0;
  background-color: #3e98f0;
  text-align: center;
  font-weight: 400;
  color: #fff;
}
.header .header-left {
  position: absolute;
  left: 20px;
  top: 16px;
  width: 11px;
  height: 18px;
  background: url("../../img/header-left-arrow.png") no-repeat;
  background-position: -16px -229px;
}
.header .header-center {
  font-size: 16px;
  line-height: 48px;
  text-align: center;
}
.header .header-right {
  position: absolute;
  right: 17px;
  top: 14px;
  font-size: 15px;
  color: #ffffff;
}
/*订阅数量*/
.take {
  width: 100%;
  height: 40px;
  background: #f5f7fb;
  color: #262b31;
  font-size: 16px;
  font-weight: bold;
  text-indent: 18px;
  line-height: 40px;
}
/*推荐置顶*/
.nominate {
  width: auto;
  height: 39px;
  background-color: #ffffff;
  line-height: 39px;
  margin: 0 10px;
  /*float: left;*/
  border-bottom: 1px solid #f6f6f6;
  /*position: relative;*/
}
.nominate .nominate_left {
  /*position: absolute;*/
  float: left;
  padding-left: 32px;
  /*left: 42px;*/
  /*top: 50%;*/
  font-size: 16px;
  color: #333333;
  /*transform: translate(0, -50%);*/
}
.nominate .nominate_right {
  font-size: 13px;
  float: right;
  padding-right: 28px;
  color: #a2a2a2;
}
.main {
  width: 100%;
  height: auto;
  background: none;
  padding: 0 15px;
  box-sizing: border-box;
  float: left;
  color: #a2a2a2;
}
.main .list {
  width: 100%;
  height: 38px;
  background: none;
  border-bottom: 1px solid #f6f6f6;
  position: relative;
}
.main .list .list-left-btn1 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 13px;
  height: 13px;
  background: url("../../img/l1.png") no-repeat;
  background-size: 13px 13px;
  border: none;
  border-radius: 50% ;
}
.main .list .list-sel {
  position: absolute;
  left: 26px;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 16px;
  color: black;
}
.main .list .list-right {
  position: absolute;
  right: 9px;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 14px;
  color: #a2a2a2;
  display: block;
  padding-right: 15px;
  background: url("../../img/l2.png") no-repeat 35px 50%;
  background-size: 9px 6px;
}
.main .list .list-del {
  position: absolute;
  right: 9px;
  top: 50%;
  transform: translate(0, -50%);
  width: 46px;
  height: 26px;
  background: #f13232;
  color: white;
  border: none;
  z-index: 1000;
  display: none;
}
