@import url('../lib/reset.css');
body {
  font-family: arial, sans-serif;
  font-size: 16px;
  overflow-y: auto;
}
body::-webkit-scrollbar {
  width: 0;
}
.header {
  width: 100%;
  height: 48px;
  background: #3e99f1;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}
.header a {
  position: absolute;
  left: 20px;
  top: 16px;
  width: 11px;
  height: 18px;
  display: inline-block;
  background: url(../../img/ico.png) no-repeat;
  background-position: -15px -228px;
}
.header p {
  color: #fff;
  text-align: center;
  line-height: 48px;
}
.header .succ {
  position: absolute;
  right: 14px;
  top: 15px;
  color: #fff;
  display: none;
  font-size: 14px;
}
.searchbox {
  display: none;
}
.searchbox .searchbox1 {
  position: relative;
  height: 100%;
  padding: 10px;
}
.searchbox .searchbox1 .searchbox1-search {
  width: 100%;
  border: 1px solid #ececec;
  height: 34px;
  background: url("../../img/Magnifier.png") no-repeat 10px 7px;
  text-indent: 38px;
  font-size: 14px;
}
.searchbox .searchbox1 .searchbox1-cancel {
  display: none;
  position: absolute;
  top: 30%;
  right: 4%;
  width: 22px;
  height: 24px;
  background: url("../../img/Magnifier.png") no-repeat -1px -53px;
}
.main {
  background-color: #ffffff;
  border-top: 10px solid #f3f3f3;
}
.main .main1 {
  display: none;
  height: 46px;
  border-bottom: 1px solid #f3f3f3;
}
.main .main1 .main1-title {
  float: left;
  font-size: 16px;
  color: #3b4352;
  line-height: 46px;
  margin-left: 10px;
}
.main .main1 .main1-arrow {
  float: right;
  width: 8px;
  height: 8px;
  border-bottom: none;
  border-top: 2px solid #dfe0e2;
  border-left: none;
  border-right: 2px solid #dfe0e2;
  margin: 15px 11px 0 0;
  transform: rotate(45deg);
}
.main .main2 {
  display: none;
  height: 31px;
  margin: 0 0 0 10px;
}
.main .main2 .main2-title {
  font-size: 15px;
  margin-top: 16px;
  color: #262b31;
  padding: 0 0 0 4px;
  border-left: 3px solid #239bf0;
}
.main .main2 .main2-content {
  height: 46px;
  line-height: 46px;
  position: relative;
  font-size: 16px;
}
.main .main2 .main2-content .main2-content-left {
  font-size: 14px;
  color: #464e5c;
  padding-left: 8px;
  border-bottom: 1px solid #f6f6f6;
}
.main .main2 .main2-content .main2-content-right {
  position: absolute;
  right: 8px;
  top: 12px;
  opacity: 0;
}
.main .main2 .main2-content .main2-content-right + label {
  position: absolute;
  width: 22px;
  height: 22px;
  right: 8px;
  top: 12px;
  background: url("../../img/btn1.png") no-repeat 0 -41px;
  border-radius: 50%;
}
.main .main2 .main2-content .main2-content-right:checked + label {
  background: url("../../img/btn1.png") no-repeat 0 -87px;
}
.mains {
  padding: 0 16px;
  box-sizing: border-box;
}
.mains .seach {
  width: 100%;
  height: 44px;
  border: 2px solid #ededed;
  margin-top: 14px;
}
.mains .seach .bg {
  width: 18px;
  height: 21px;
  display: inline-block;
  float: left;
  margin-left: 11px;
  margin-top: 13px;
  background: url(../../img/ico1.png) no-repeat;
  background-position: -1px -1px;
}
.mains .seach .place {
  color: #b9bbc1;
  margin-left: 10px;
  line-height: 44px;
  float: left;
}
.mains .tab .nav {
  width: 100%;
  height: 44px;
  position: relative;
}
.mains .tab .nav .sp1 {
  width: 35px;
  display: inline-block;
  line-height: 42px;
  text-align: center;
  height: 42px;
}
.mains .tab .nav .sp1 + .sp1 {
  margin-left: 18px;
}
.mains .tab .nav .active {
  color: #3e99f1;
  border-bottom: 2px solid #229bf1;
}
.mains .tab .nav .huan {
  font-size: 14px;
  position: absolute;
  right: 0;
  top: 14px;
}
.mains .tab .con {
  border-top: 1px solid #f3f3f4;
  display: none;
}
.mains .tab .con .med {
  width: 100%;
  height: 38px;
  border-bottom: 1px solid #f7f7f7;
}
.mains .tab .con .med .left {
  width: 50%;
  height: 38px;
  float: left;
  line-height: 38px;
}
.mains .tab .con .med .left .hai {
  flex: left;
  color: #4e5256;
}
.mains .tab .con .med .left .ico {
  width: 14px;
  height: 14px;
  display: inline-block;
  float: right;
  margin-top: 12px;
  margin-right: 5px;
  background: url(../../img/jia_02.png) no-repeat;
  background-size: 14px 14px;
}
.mains .tab .con .med .left .ico-jian {
  background: url(../../img/jia_05.png) no-repeat;
  background-size: 14px 14px;
}
.mains .tab .con .med .first {
  border-right: 1px solid #f7f7f7;
  box-sizing: border-box;
}
.mains .tab .con .med .right .hai {
  margin-left: 7px;
}
.mains .tab .active {
  display: block;
}
.mains .footer {
  width: 100%;
  height: 38px;
  background: #229bf1;
  color: #fff;
  font-size: 14px;
  margin-top: 30px;
  text-align: center;
  line-height: 38px;
  margin-bottom: 50px;
  display: inline-block;
}
